[client]
#host = db
host = db
database = vkparser
user = vkparser
password = vkparser
default_character_set = utf8mb4
#default-character-set = utf8mb4
#charset = utf8mb4
init_command = 'SET NAMES utf8mb4;'
